<div>
  <h1>Select a Quiz</h1>
</div>

<div fxLayout>
  <div *ngFor="let quiz of quizzes">
    <mat-card fxFlex="30%">
      <mat-card-header>
        <mat-card-title>{{quiz.name}}</mat-card-title>
      </mat-card-header>
      <img mat-card-image src="../../../assets/images/{{quiz.image}}" alt="Laptop and HTML & CSS book">
      <mat-card-actions>
        <button mat-flat-button color="accent" routerLink="presentation/{{quiz.id}}">View Presentation</button>
      </mat-card-actions>
    </mat-card>
  </div>

</div>
